body{
  padding-block: 50px;
}
.container{
  width: min(100% - 1rem , 1320px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.product {
  width: 250px;
  border: 1px solid #969696;
  box-shadow: 5px 5px #7a1919;
  border-radius: 10px;
}
.product>img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
a{
  color: #202020;
}
.content{
  padding: 10px;
}
.link{
  margin: auto;
  background-color: black;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.link>a{
  color: white;
}